@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-night: #121b27;
}

html,
body {
	@apply bg-night;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
